// Alert..............Alert block styles.

.alert {
  margin-bottom: ($core-margin * 2.5);
  padding-top: ($core-padding * 2);
  padding-right: ($core-padding * 1.5);
  padding-bottom: ($core-padding * 2);
  padding-left: ($core-padding * 1.5);

  &--info {
    background-color: $core-color-secondary;
    color: $core-color-body;
  }
}

.alert__title {
  margin-bottom: ($core-margin / 2);
}

.alert__body {
  &:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }
}
