// Breadcrumbs........Breadcrumb styles.

.breadcrumbs {
  margin-bottom: ($core-margin * 2);
}

.breadcrumbs__item {
  display: inline-block;
  position: relative;
  color: $core-color-body;
  margin-bottom: 0;

  &--active {
    color: $core-color-body;
  }

  &::after {
    content: '/';
    padding-left: ($core-padding / 2);
  }

  &:last-child::after {
    display: none;
  }
}

.breadcrumbs__link {
  color: inherit;
  border-bottom-width: $core-border-width;
  border-bottom-style: $core-border-style;
  border-bottom-color: $core-color-link;

  @include min(l) {
    &:hover {
      background-color: $core-color-link;
      color: $core-color-brand;
    }
  }
}
