// Butons.............Button styles.

.button {
  @include transition-03(all);
  display: block;
  margin-bottom: 0;
  padding-top: $core-padding;
  padding-right: $core-padding;
  padding-bottom: $core-padding;
  padding-left: $core-padding;
  font-size: calc(0.9em + 0.15vw);
  text-align: center;
  border-radius: $core-border-radius;

  @include min(m) {
    display: inline-block;
  }

  @include min(l) {
    font-weight: $core-tertiary-font-weight;
    padding-top: ($core-padding * 1.5);
    padding-right: ($core-padding * 2.5);
    padding-bottom: ($core-padding * 1.5);
    padding-left: ($core-padding * 2.5);
  }
}

.button--primary {
  @include button(primary);
}

.button--secondary {
  @include button(secondary);
}

.button--tertiary {
  @include button(tertiary);
}
