// Filter.............Filter input styles.

.filter {
  @include flex(wrap, row, null, center);
  max-width: 400px;
  margin-bottom: ($core-margin * 2);
}

.filter__label {
  @include flex(null, column, center, center);
  width: 45px;
  height: 45px;
  background-color: $core-color-background;
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  order: 2;

  @include min(l) {
    @include transition-03(box-shadow);
    cursor: pointer;

    &:hover {
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

.filter__search {
  fill: darken($core-color-neutral, 25%);
}

.filter__input-wrapper {
  position: relative;
  margin-right: ($core-margin / 2);
  flex: 1;
  order: 1;
}

.filter__input {
  position: relative;
  width: 100%;
  background-color: transparent;
  margin-bottom: 0;
  border: none;
  border-bottom-width: $core-border-width;
  border-bottom-style: $core-border-style;
  border-bottom-color: darken($core-color-neutral, 10%);

  &:focus,
  &:active {
    + .filter__input-border {
      width: 100%;
    }
  }
}

.filter__input-border {
  @include transition-025(width);
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: $core-color-brand;
  transform: translateX(-50%);
  z-index: z(alpha);
}

.hidden {
  display: none;
}
