// Stats..............Tasks stats styles.

.stats {
  @include flex(wrap, row, space-between, null);
  margin-bottom: ($core-margin * 1.5);
}

.stats__item {
  margin-bottom: 0;
  padding-top: $core-padding;
  padding-right: $core-padding;
  padding-bottom: $core-padding;
  padding-left: $core-padding;
  border-radius: $core-border-radius;
  text-align: center;
  line-height: 1.3;
  flex: 1;

  &--danger {
    background-color: $core-color-tertiary;
    color: $core-color-background;
  }

  &--warning {
    background-color: $core-color-warning;
    color: $core-color-background;
    margin-right: ($core-margin / 2);
    margin-left: ($core-margin / 2);

    @include min(m) {
      margin-right: ($core-margin * 0.8);
      margin-left: ($core-margin * 0.8);
    }
  }

  &--info {
    background-color: $core-color-info;
    color: $core-color-background;
  }
}

.stats__type {
  display: block;
}
