// Tabs...............Tabs sections styles.

.tabs {
  @include flex(wrap, row, null, null);
  border-bottom-width: 1px;
  border-bottom-style: $core-border-style;
  border-bottom-color: $core-color-neutral;
}

.tabs__item {
  margin-bottom: -1px;
  border-top-width: 1px;
  border-top-style: $core-border-style;
  border-top-color: $core-color-background;
  border-right-width: 1px;
  border-right-style: $core-border-style;
  border-right-color: $core-color-background;
  border-left-width: 1px;
  border-left-style: $core-border-style;
  border-left-color: $core-color-background;
  border-top-right-radius: $core-border-radius;
  border-top-left-radius: $core-border-radius;

  &:last-child {
    margin-bottom: -1px;
  }

  &--active {
    background-color: $core-color-background;
    border-top-color: $core-color-neutral;
    border-right-color: $core-color-neutral;
    border-left-color: $core-color-neutral;
  }

  @include max(l) {
    width: 50%;
  }
}

.tabs__link {
  display: block;
  padding-top: $core-padding;
  padding-right: $core-padding;
  padding-bottom: $core-padding;
  padding-left: $core-padding;
  text-align: center;

  &--error {
    color: $core-color-tertiary;
  }

  &--warning {
    color: $core-color-warning;
  }

  &--notices {
    color: $core-color-info;
  }

  &--ignore {
    color: darken($core-color-neutral, 25%);
  }
}

.tabs__content {
  padding-top: ($core-padding * 2);
  padding-right: ($core-padding * 1.5);
  padding-bottom: ($core-padding * 2);
  padding-left: ($core-padding * 1.5);
  border-right-width: 1px;
  border-right-style: $core-border-style;
  border-right-color: $core-color-neutral;
  border-bottom-width: 1px;
  border-bottom-style: $core-border-style;
  border-bottom-color: $core-color-neutral;
  border-left-width: 1px;
  border-left-style: $core-border-style;
  border-left-color: $core-color-neutral;


}

.tabs__pane {
  .tabs__content--active & {
    display: none;

    &--active {
      display: block;
    }
  }
}

.tabs__panel {
  margin-bottom: ($core-margin * 2);
}

.tabs__panel-heading {
  @include text(pluto);
  display: block;
  background-color: $core-color-neutral;
  margin-bottom: 0;
  padding-top: $core-padding;
  padding-right: $core-padding;
  padding-bottom: $core-padding;
  padding-left: $core-padding;
  border-top-right-radius: $core-border-radius;
  border-top-left-radius: $core-border-radius;
  word-wrap: break-word;

  &--errors {
    color: $core-color-tertiary;
  }

  &--warnings {
    color: $core-color-warning;
  }

  &--notices {
    color: $core-color-info;
  }

  &--ignore {
    color: darken($core-color-neutral, 25%);
  }
}

.tabs__panel-badge {
  display: inline-block;
  margin-left: $core-margin;
  padding-top: ($core-padding / 3);
  padding-right: ($core-padding / 2);
  padding-bottom: ($core-padding / 3);
  padding-left: ($core-padding / 2);
  border-radius: $core-border-radius;
  font-size: calc(0.75em + 0.15vw);
  font-weight: $core-tertiary-font-weight;

  &--errors {
    background-color: $core-color-tertiary;
    color: $core-color-background;
  }

  &--warnings {
    background-color: $core-color-warning;
    color: $core-color-background;
  }

  &--notices {
    background-color: $core-color-info;
    color: $core-color-background;
  }

  @include max(m) {
    vertical-align: bottom;
  }
}

.tabs__panel-content {
  padding-top: ($core-padding * 1.5);
  padding-right: $core-padding;
  padding-bottom: ($core-padding * 1.5);
  padding-left: $core-padding;
  border-right-width: 1px;
  border-right-style: $core-border-style;
  border-right-color: $core-color-neutral;
  border-bottom-width: 1px;
  border-bottom-style: $core-border-style;
  border-bottom-color: $core-color-neutral;
  border-left-width: 1px;
  border-left-style: $core-border-style;
  border-left-color: $core-color-neutral;
}

.tabs__panel-body {
  margin-top: 0;
}

.tabs__panel-link {
  .tabs__content--active & {
    &--collapsed ~ .tabs__detials {
      display: block;
    }
  }
}

.tabs__detials {
  padding-top: $core-padding;

  .tabs__content--active & {
    display: none;
  }
}

.tabs__detials-heading {
  @include text(earth);
  display: block;
  margin-top: $core-margin;
  margin-bottom: $core-margin;
}

.tabs__detials-list-item {
  position: relative;
  margin-bottom: ($core-margin * 1.5);
  line-height: $core-secondary-line-height;
}

.tabs__tooltip {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  background-color: $core-color-background;
  border-width: 1px;
  border-style: $core-border-style;
  border-color: rgba($core-color-foreground, 0.2);
  border-radius: $core-border-radius;
  box-shadow: 0 5px 10px rgba($core-color-foreground, 0.2);
  transform: translateX(-50%);
  z-index: z(alpha);
}

.tabs__tooltip-arrow {
  display: block;
  position: absolute;
  top: -($core-grid-unit * 2);
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-width: $core-grid-unit;
  border-top-width: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: $core-color-neutral;
}

.tabs__tooltip-heading {
  display: block;
  background-color: $core-color-neutral;
  margin-bottom: 0;
  padding-top: ($core-padding / 2);
  padding-right: $core-padding;
  padding-bottom: ($core-padding / 2);
  padding-left: $core-padding;
  font-size: calc(0.9em + 0.15vw);
  font-weight: $core-tertiary-font-weight;
}

.tabs__tooltip-body {
  display: block;
  padding-top: $core-padding;
  padding-right: $core-padding;
  padding-bottom: $core-padding;
  padding-left: $core-padding;
  font-size: calc(0.7em + 0.15vw);
  font-weight: $core-tertiary-font-weight;
  line-height: $core-line-height;
  overflow-x: auto;
}
