{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}

<h1 class="task__title">{{task.name}}</h1>
<p class="task__url"><a href="{{task.url}}">{{simplify-url task.url}}</a><span> ({{task.standard}})</span></p>

{{#unless readonly}}
    <ul class="task__list" role="menu">
        <li class="task__list-item"><a class="task__list-link" href="/{{task.id}}/edit">Edit this task</a></li>
        <li class="task__list-item"><a class="task__list-link" href="/{{task.id}}/delete">Delete this task</a></li>
        <li class="task__list-item"><a class="task__list-link" href="{{task.hrefRun}}" data-test="run-task">Run Pa11y</a></li>
    </ul>
{{/unless}}

{{#if mainResult}}
    <div class="task__date">
        Last run: <strong>{{date-format mainResult.date format="DD MMM YYYY"}}</strong>
    </div>
{{else}}
    <div class="task__date">Not yet run</div>
{{/if}}

<hr>
