{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}

<ul class="tasks_l_ist">

{{#unless readonly}}
    <li class="tasks__list-item tasks__list-item--add">
        <a class="tasks__list-link" href="/new" data-role="add-task" data-test="add-task">
            <p class="tasks__list-title">Add new URL</p>
            <p class="tasks__list-plus">+</p>
        </a>
    </li>
{{/unless}}

    {{#each tasks}}
    	<li class="tasks__list-item" data-test="task" data-role="task" data-keywords="{{lowercase name}} {{lowercase standard}} {{simplify-url url}}">
            <a class="tasks__list-link" title="Details for URL {{simplify-url url}}" href="{{href}}">
                <p class="tasks__list-title">{{name}}</p>
                <p class="tasks__list-sub-title">({{standard}})</p>
            {{#if lastResult}}
                <ul class="stats__list">
                {{#lastResult}}
                    <li class="stats__list-item stats__list-item--danger" title="Number of errors ({{count.error}})">{{count.error}}<span class="stats__list-type">Errors</span></li>
                    <li class="stats__list-item stats__list-item--warning" title="Number of warnings ({{count.warning}})">{{count.warning}}<span class="stats__list-type">Warnings</span></li>
                    <li class="stats__list-item stats__list-item--info" title="Number of notices ({{count.notice}})">{{count.notice}}<span class="stats__list-type">Notices</span></li>
                {{/lastResult}}
                </ul>

                Last run {{date-format lastResult.date format="DD MMM YYYY"}}
            {{else}}
                <p class="results results--none">No results</p>
            {{/if}}
            </a>
        {{#unless ../readonly}}
            <div class="options">
                <button type="button" class="options__button" data-toggle="dropdown"><span class="options__body">Options</span><span class="options__icon"></span></button>

                <ul class="options__list" role="menu">
                    <li class="options__list-item"><a href="{{href}}/edit">Edit this task</a></li>
                    <li class="options__list-item"><a href="{{href}}/delete">Delete this task</a></li>
                    <li class="options__list-item--divider"></li>
                    <li class="options__list-item"><a href="{{href}}/run" data-test="run-task">Run Pa11y</a></li>
                </ul>
            </div>
        {{/unless}}
    	</li>
    {{/each}}
</ul>
