{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}

{{#content "title"}}
    Delete {{task.url}} ({{task.standard}})
{{/content}}

<form class="form" action="{{task.hrefDelete}}" method="post" data-test="delete-url-form">

    <h1 class="form__title">Delete URL ({{simplify-url task.url}})</h1>

    <div class="form__fieldset">
    	<p>Are you sure you wish to delete <strong>{{task.url}}</strong> <small>({{task.standard}})</small> and it's associated results?</p>
    </div>

    <button class="button button--secondary" type="submit">Yes</button>
    <a class="button button--tertiary" href="/">No</a>
</form>
