{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}
<!DOCTYPE html>
<html lang="{{lang}}" class="no-javascript">
<head>
    <!-- META TAGS  -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, user-scalable=yes, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="{{block "description"}}"/>

    <title>{{block "title"}}</title>

    <!-- PRELOAD FILES -->
    <link rel="preload" href="/css/main.css?v={{version}}" as="style">
    <link rel="preload" href="/fonts/ubuntu/ubuntu-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/ubuntu/ubuntu-medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/nunito-sans/nunito-sans-regular.woff2" as="font" type="font/woff2" media="(min-width: 62em)" crossorigin>
    <link rel="preload" href="/fonts/nunito-sans/nunito-sans-semi-bold.woff2" as="font" type="font/woff2" media="(min-width: 62em)" crossorigin>

    <!-- STYLESHEET -->
    <link rel="stylesheet" href="/css/main.css?v={{version}}">

    <!-- MANIFEST -->
    <link rel="manifest" href="/site.webmanifest">

    <!-- FAVICONS -->
    <link rel="icon" href="/favicons/favicon-16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/favicons/favicon-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/favicons/favicon-48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="/favicons/favicon-62.png" sizes="62x62" type="image/png">
    <link rel="icon" href="/favicons/favicon-192.png" sizes="192x192" type="image/png">
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png">


    <script type="text/javascript">
        document.documentElement.className = document.documentElement.className.replace('no-javascript', 'javascript');
    </script>

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="/js/vendor.bundle.js?v={{version}}" defer></script>
	<script type="text/javascript" src="/js/common.bundle.js?v={{version}}" defer></script>

</head>

<body class="body">
    {{> page-header}}

    <main class="main container">
        {{> breadcrumb}}

        {{{body}}}
    </main>

    {{> page-footer}}
</body>
</html>
