{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}
{{#content "title"}}Pa11y Dashboard{{/content}}

<div data-control="task-list">

    <div class="filter">
        <label for="filter__input" class="filter__label" data-target="#filter-input">
            <svg class="filter__search" xmlns="http://www.w3.org/2000/svg" width="24" height="24" aria-describedby="filter__search-icon">
                <title id="filter__search-icon">Search</title>
                <path d="M9.516 14.016c2.484 0 4.5-2.016 4.5-4.5s-2.016-4.5-4.5-4.5-4.5 2.016-4.5 4.5 2.016 4.5 4.5 4.5zm6 0l4.969 4.969-1.5 1.5-4.969-4.969v-.797l-.281-.281c-1.125.984-2.625 1.547-4.219 1.547C5.907 15.985 3 13.126 3 9.516S5.906 3 9.516 3s6.469 2.906 6.469 6.516c0 1.594-.563 3.094-1.547 4.219l.281.281h.797z"/>
            </svg>
            <span class="hidden" aria-hidden="true">Filter tasks</span>
        </label>
        <div class="filter__input-wrapper">
            <input class="filter__input" id="filter__input" type="text" placeholder="Filter tasks" data-role="input"/>
            <span class="filter__input-border"></span>
        </div>
    </div>

{{#if siteMessage}}
    <div class="alert alert--info" data-test="alert">
        <h3 class="alert__title">Important</h3>
        <p class="alert__body">{{siteMessage}}</p>
    </div>
{{/if}}

{{#deleted}}
    <div class="alert alert--success" data-test="alert">
        <button class="alert__close" aria-hidden="true" data-dismiss="alert" type="button">
            <svg class="alert__close-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18.984 6.422L13.406 12l5.578 5.578-1.406 1.406L12 13.406l-5.578 5.578-1.406-1.406L10.594 12 5.016 6.422l1.406-1.406L12 10.594l5.578-5.578z"/></svg>
        </button>
        <h3 class="alert__title">Bye bye URL</h3>
        <p class="alert__body">The URL you selected and its associated results have been deleted.</p>
    </div>
{{/deleted}}

    {{> tasks}}

</div>
