{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}

{{#content "title"}}
	Add a new URL
{{/content}}

<form role="form" class="form" action="/new" method="post" data-test="new-url-form">

    <h1 class="form__title">Add a new URL</h1>

{{#error}}
    <div class="alert alert--danger" data-test="error">
        <h3 class="alert__title">Oh my gosh!</h3>
        <p class="alert__body">{{.}}</p>
    </div>
{{/error}}

    <fieldset class="form__fieldset">
        <legend class="form__legend">Enter the name and URL of the website.</legend>

        <div class="form__field">
            <label class="form__label" for="new-task-name">Name</label>
            <div class="form__input-wrapper">
                <input class="form__input" id="new-task-name" type="text" name="name" value="{{task.name}}" required/>
                <span class="form__input-border"></span>
            </div>
        </div>

        <div class="form__field">
            <label class="form__label" for="new-task-url">URL</label>
            <div class="form__input-wrapper">
                <input class="form__input" id="new-task-url" type="url" pattern="https?:\/\/.+" name="url" value="{{task.url}}" required/>
                <span class="form__input-border"></span>
            </div>
        </div>
    </fieldset>

    <fieldset class="form__fieldset">
        <legend class="form__legend">Select the accessibility standard to test against.</legend>

        <div class="form__field">
            <label class="form__label form__label--static" for="new-task-standard">Standard</label>
            <div class="form__select-wrapper">
                <select class="form__select" id="new-task-standard" data-role="new-task-select" name="standard">
                {{#standards}}
                    <option {{#selected}}selected{{/selected}}>{{title}}</option>
                {{/standards}}
                </select>
                <span class="form__input-border"></span>
                <svg class="form__select-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.594 8.578L18 9.984l-6 6-6-6 1.406-1.406L12 13.172z"/></svg>
            </div>
        </div>
    </fieldset>

    <fieldset class="form__fieldset">
        <legend class="form__legend">Enter the timeout and wait time in milliseconds. (Optional)</legend>

        <div class="form__field">
            <label class="form__label" for="new-task-timeout">Timeout (Milliseconds)</label>
            <div class="form__input-wrapper">
                <input class="form__input" id="new-task-timeout" type="text" name="timeout" value="{{task.timeout}}"/>
                <span class="form__input-border"></span>
            </div>
        </div>

        <div class="form__field">
            <div class="form__field-inner">
                <label class="form__label" for="new-task-wait">Wait (Milliseconds)</label>
                <div class="form__input-wrapper">
                    <input class="form__input" id="new-task-wait" type="text" name="wait" value="{{task.wait}}"/>
                    <span class="form__input-border"></span>
                </div>
            </div>
            <em class="form__note">(Note: default wait time is 0ms)</em>
        </div>
    </fieldset>

    <fieldset class="form__fieldset">
        <legend class="form__legend">Enter any tasks the test should perform. (Optional)</legend>

        <div class="form__field">
            <label class="form__label form__label--static" for="new-task-actions">
                Task Actions
                (<a class="form__link" href="https://github.com/pa11y/pa11y#actions">See Pa11y documentation</a>)
            </label>
            <textarea class="form__textarea" id="new-task-actions" name="actions" aria-describedby="action-detail">{{task.actions}}</textarea>
            <em class="form__note" id="action-detail">(One action per line)</em>
        </div>
    </fieldset>

    <fieldset class="form__fieldset">
        <legend class="form__legend">Enter a username and password to secure the test. (Optional)</legend>

        <div class="form__field">
            <label class="form__label" for="new-task-username">Username</label>
            <div class="form__input-wrapper">
                <input class="form__input" id="new-task-username" type="text" name="username" value="{{task.username}}"/>
                <span class="form__input-border"></span>
            </div>
        </div>

        <div class="form__field">
            <div class="form__field-inner">
                <label class="form__label" for="new-task-password">Password</label>
                <div class="form__input-wrapper">
                    <input class="form__input" id="new-task-password" type="text" name="password" value="{{task.password}}"/>
                    <span class="form__input-border"></span>
                </div>
            </div>
            <em class="form__note">(Note: this will be stored and displayed in plain-text - only suitable for use in a secure environment)</em>
        </div>
    </fieldset>

    <fieldset class="form__fieldset">
        <legend class="form__legend">Enter any HTTP headers. (Optional)</legend>

        <div class="form__field">
            <label class="form__label form__label--static" for="new-task-headers">HTTP Headers</label>
            <textarea class="form__textarea" id="new-task-headers" name="headers">{{task.headers}}</textarea>
            <em class="form__note">(As key/value pairs, separated by newlines/colons)</em>
        </div>
    </fieldset>

    <fieldset class="form__fieldset">
        <legend class="form__legend">Enter any CSS selectors you wish to hide during the test. (Optional)</legend>

        <div class="form__field">
            <div class="form__field-inner">
                <label class="form__label" for="new-task-hide-elements">Hide Elements</label>
                <div class="form__input-wrapper">
                    <input class="form__input" id="new-task-hide-elements" type="text" name="hideElements" value="{{task.hideElements}}"/>
                    <span class="form__input-border"></span>
                </div>
            </div>
            <em class="form__note">(CSS selector)</em>
        </div>
    </fieldset>

    <fieldset class="form__fieldset">
        <legend class="form__legend">Select which accessibility rules to ignore. (Optional)</legend>

        <div class="form__field">
            <p class="form__label form__label--static">
                Ignore these rules
                <a class="form__link" target="_blank" href="https://github.com/pa11y/pa11y/wiki/HTML-CodeSniffer-Rules">(Full list of rules)</a>
            </p>

            <div class="form__standards">
            {{#standards}}
                <div data-role="standards-list" data-attr="{{title}}" class="form__group">
                    <p class="form__standards-title ruled"><b>{{title}} Rules</b></p>
                    <ul class="form__list">
                    {{#rules}}
                        <li class="form__list-item">
                            <input class="form__checkbox" id="{{name}}" type="checkbox" name="ignore[]" value="{{name}}" {{#ignored}}checked{{/ignored}}/>
                            <label class="form__label form__label--static" for="{{name}}" title="{{description}}" data-role="rule-tooltip" class="checkbox">{{name}}</label>
                            <span class="form__check">
                                <svg class="form__check-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 16.172L19.594 5.578 21 6.984l-12 12-5.578-5.578L4.828 12z"/></svg>
                            </span>
                        </li>
                    {{/rules}}
                    </ul>
                </div>
            {{/standards}}
            </div>
        </div>
    </fieldset>

	<button class="form__submit button button--primary" type="submit">Add URL</button>
</form>
